<footer class="footer bg-primary mt-4">
    <section class="footer-section">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-12 col-md-12 col-sm-12 px-0 ">
            <p  class="text-center"><a class="text-white" style="text-decoration: none;" target="_blank" href="http://yebelo.com/">&copy; &nbsp; Copyrights {{year}}. All Rights
              Reserved by Yebelo Technology</a></p>
          </div>
        </div>
      </div>
    </section>
  </footer>
